@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');

:root{
    --clr-canvas: rgb(77, 77, 77);
    --clr-bg:#DDD;
    --clr-pfont:#222;
    --clr-input:#EEE;
    --clr-hover:antiquewhite;
}
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    height: 100%;
    height: -webkit-fill-available;
    height: -moz-available;
    height: stretch;
    font-size: max(20px, 3vw);
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    min-width: 100%;
    background-color: var(--clr-bg);
    font-family: 'VT323', monospace;
}

main{
    display: flex;
    flex-direction: column;
    height: 100%;
    
    color:var(--clr-pfont);
}

footer{
    margin-top: auto;
    text-align: right;
    padding: 20px;
    font-size: 1rem;
}

a, a:visited{
    color: var(--clr-pfont);
}

h1{
    display: block;
    font-size:3rem;
    text-align: center;
    padding: 10px;
}
#gameContainer{
    padding: 4%;
}

#gameContainer p{
    text-align: right;
}

#menuContainer input, #canvas, #keyboard, .key{
    border: solid .1rem var(--clr-pfont);
}

#canvas, #keyboard, #menuContainer input{
    box-shadow: .2rem .2rem 0 var(--clr-pfont), -.2rem -.2rem 0 var(--clr-pfont);
}

#canvas{
    background-color: var(--clr-canvas);
    margin: 3% auto;
    width: 100%;
}

#keyboard{
    background-color: var(--clr-canvas);
    height: fit-content;
    width: 100%;
    margin: 0 auto;
}

.key{
    width: 8%;
    aspect-ratio: 1;
    margin:.8%;
    font-family: 'VT323',monospace;
    font-size: .9rem;
}
.key:nth-child(11){
    margin-left: 4%;
}

.key:nth-child(21){
    margin-left: 8%;
}

#menuContainer{
    padding: 0 4%;
}

#menuContainer input{
    font-family: 'Press Start 2P', cursive;
    word-spacing: -10px;
    font-size: .8rem;
    color:var(--clr-pfont);
    display: block;
    width: 100%;
    height: 2rem;    
    margin: 2% 0 2% 0;
    background-color: var(--clr-input);
}

#menuContainer input:nth-child(1){
    margin-bottom: 10px;
}

input:hover{
    background-color: var(--clr-hover);
    cursor: pointer;
}